
<h2><%=@user.username%></h2>

<span>E-mail: <%= @user.email%></span><br><br>
<span>Location: <%= @user.location.state %></span><br><br>
<span>Telephone: <%= @user.phone%></span><br><br>

<%= link_to "Edit Your Account Info", edit_user_path(@user) %><br>
<%= button_to "Delete Account", @user, method: "DELETE", class: "button"%>