<div id="index_header">
    <%if @header %>
        <h2><%= @header %></h2>
    <% else %>
        <h2>Thanks <%= @finder_name %></h2>
    <% end %>
    <%= render 'postnav' %>
</div>
<div id="index_body">
<% if @posts.present? %>
    <ul>
        <% @posts.each do |post| %>
            <li>
                <%= render partial: 'shared/postpreview', locals: {post: post}%>
            </li>
        <% end %>
    </ul>
    <% else %>
        <p id="empty_error">Sorry, there are no thanks in <%= @finder_name %> </p>
    <% end %>
</div>