<div id="index_header">
    <%if @header %>
        <h2><%= @header %></h2>
    <% else %>
        <h2>Thanks <%= @finder_name %></h2>
    <% end %>
    <%= render 'postnav' %>
</div>
<div id="index_body">
<% if @posts.present? %>
    <ul>
        <% @posts.each do |post| %>
            <li>
                <span><%= link_to post.title, post_path(post) %><br>
                <%= truncate(post.content, length: 75)%></span>
                <span id="likes_count">
                    <%= render partial: "like", locals: {post: post, like: user_logged_in.liked_posts.include?(post)} %>
                    <%= post.likes_count %>
                </span>
            </li>
        <% end %>
    </ul>
    <% else %>
        <p id="empty_error">Sorry, there are no thanks in <%= @finder_name %> </p>
    <% end %>
</div>