<h2><%= @post.title %></h2>
<h3>By: <%= @post.user.username %></h3>
<p><%= @post.content %></p>
<h4><%= "Tagged in #{pluralize(@post.categories.count, 'Category')}:"%></h4>
<% @post.categories.each do |c| %>
    <span><%= link_to "#{c.name}", categories_path %></span><br>
<% end %><br>
<%= button_to "Delete Post", @post, method: :delete, class: "button" %>