<!DOCTYPE html>
<html>
  <head>
    <title>Thankful-e</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="viewer" class="container-fluid">
    <div class="row">
      <div class="col-md-4 text-center">
        <div><h1>🙏 Thankful-e</h1></div>
        <div id="nav">
          <ul>
            <li><a href="/about">About Thankful-e</a></li>
            <li><%= link_to 'Thanks Digest', posts_path %></li>
            <% if logged_in? %>
              <li><%= link_to "My Thanks", user_posts_path(user_logged_in.id) %></li>
              <li><a href="">Give Thanks</a></li>
              <li><%= link_to "Thanks I've 🙏", user_path(user_logged_in.id) %></li>
              <li><%= link_to 'My Account', user_path(user_logged_in.id) %></li>
            <% else %>
              <li><%= link_to 'Give Thanks', new_user_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="col-md-8">
        <span class="user_greeting_logout">
          <% if !logged_in? %> 
              <%= link_to 'Log In', login_path %>
            <% else %> 
              <%= "Hi, #{user_logged_in.username.strip}!"%>
            <% end %>
          <%= button_to "Log Off", logout_path, class: "button" %>
        </span>
        <div id="main">
        <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
