<!DOCTYPE html>
<html>
  <head>
    <title>Thankful-e</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="viewer" class="container-fluid">
    <div class="row">
      <div class="col-md-4 text-center">
        <div><h1> <%= link_to 'ðŸ™ Thankful-e', root_path %> </h1></div>
        <div id="nav">
          <ul>
            <li><%= link_to 'About Thankful-e', about_path %></li>
            <li><%= link_to 'Thanks Digest', posts_path %></li>
            <% if logged_in? %>
              <li><%= link_to "My Thanks", user_posts_path(user_logged_in.id) %></li>
              <li><%= link_to "Give Thanks", new_post_path %></li>
              <li><%= link_to "Thanks I've ðŸ™", user_likes_path(user_logged_in.id) %></li>
              <li><%= link_to 'My Account', user_path(user_logged_in.id) %></li>
            <% else %>
              <li><%= link_to 'Give Thanks', new_user_path %></li>
            <% end %>
          </ul>
        </div>
      </div>
      <div class="col-md-8">
        <span class="user_greeting_logout">
          <% if !logged_in? %> 
              <%= link_to 'Log In', login_path %>
              <%= link_to 'Sign Up', new_user_path, class: "button"%>
            <% else %> 
              <%= link_to "Hi, #{user_logged_in.username}!", user_path(user_logged_in) %>
              <%= button_to "Log Off", logout_path, class: "button" %>
            <% end %>
        </span>
        <div id="main">
        <%= yield %>
        </div>
      </div>
    </div>
  </body>
</html>
